---
---

$header-bg-color-secondary: #159957;
$header-bg-color: #155799;
@import "{{ site.theme }}";

.btn {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);

  &:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
  }
}
