---
---

$header-bg-color-secondary: #159957;
$header-bg-color: #155799;
@import "{{ site.theme }}";

.btn {
  color: $header-bg-color-secondary;
  background-color: $header-bg-color-secondary;
  border-color: $header-bg-color-secondary;

  &:hover {
    color: $header-bg-color;
    background-color: $header-bg-color-secondary;
    border-color: $header-bg-color-secondary;
  }
}

